<tr>
  <th class="relative px-6 py-4">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button (click)="editConfig()" mat-menu-item>
        <mat-icon>settings</mat-icon>
        Game config
      </button>
      <a
        href="https://github.com/ablyazov-dariy/wizard-sheet?tab=readme-ov-file#how-to-use"
        target="_blank"
        mat-menu-item
      >
        <mat-icon>help</mat-icon>
        How to play
      </a>
      @if (showEndGame) {
        <button (click)="endGame()" mat-menu-item>
          <mat-icon>assignment_late</mat-icon>
          End game
        </button>
      }
    </mat-menu>
  </th>
  @for (control of nameControls(); track control) {
    <th colspan="2">
      <input
        type="text"
        class="px-6 py-4 font-medium capitalize text-gray-900"
        [formControl]="control"
      />
    </th>
  }
</tr>

@if (showAlert()) {
  <tr>
    <th colspan="99">
      <div class="flex rounded-md bg-red-50 p-2 text-sm text-red-500">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="mr-3 h-5 w-5 flex-shrink-0"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
            clip-rule="evenodd"
          />
        </svg>

        <div class="font-normal">
          <b>Hold on!</b>
          Everyone needs a name before we can begin.
        </div>
        <button (click)="closeAlert()" class="ml-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
          >
            <path
              d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
            />
          </svg>
        </button>
      </div>
    </th>
  </tr>
}

<tr>
  <th class="relative px-6 py-2">
    <img priority class="mx-auto" ngSrc="numbers.svg" alt="" fill />
  </th>

  @for (_ of nameControls(); track _) {
    <th class="relative px-6 py-2">
      <img priority class="mx-auto" ngSrc="style.svg" alt="" fill />
    </th>
    <th class="relative px-6 py-2">
      <img priority class="mx-auto" ngSrc="edit.svg" alt="" fill />
    </th>
  }
</tr>
