:host {
  display: table-row-group;
}

th,
td {
  border: 1px solid black;
}

input {
  height: 100%;
  width: 100%;
  min-width: 0;
  background: transparent;

  transition: background-color 200ms linear;
}
