@for (round of roundsControls(); track $index) {
  @let rowIndex = $index;
  <tr
    class="odd:bg-white even:bg-gray-200"
    [ngClass]="{
      '!bg-red-200': round.getError('bitIsEqualToRound'),
    }"
  >
    <th class="px-6 py-4">{{ $index + 1 }}.</th>
    @for (wishForm of round.controls; track $index) {
      @let colIndex = $index;
      <td>
        <input
          appPreventInvalidInput="^(\d+|)$"
          [tabindex]="getTabIndex(rowIndex, colIndex, true)"
          type="text"
          inputmode="numeric"
          class="py-4 text-center font-medium text-gray-900 focus:bg-green-300 active:bg-green-300"
          [formControl]="wishForm.controls.tricksWon"
          [ngClass]="{
            '!bg-red-400': wishForm.controls.tricksWon.invalid,
          }"
        />
      </td>
      <td>
        <input
          appPreventInvalidInput="^(\d+|)$"
          [tabindex]="getTabIndex(rowIndex, colIndex, false)"
          autofocus
          type="text"
          inputmode="numeric"
          class="py-4 text-center font-medium text-gray-900 focus:bg-primary-300 active:bg-primary-300"
          [formControl]="wishForm.controls.tricksBid"
          [ngClass]="{
            '!bg-red-400': wishForm.controls.tricksBid.invalid,
          }"
        />
      </td>
    }
  </tr>
} @empty {
  <tr>
    <td colspan="99" class="px-12 py-8">
      <app-game-starter />
    </td>
  </tr>
}
