<div class="grid grid-cols-2 grid-rows-2 gap-8">
  <button
    (click)="game.addPlayer()"
    type="button"
    class="rounded-lg border border-transparent bg-transparent px-5 py-2.5 text-center text-sm font-medium text-gray-700 shadow-none transition-all hover:bg-gray-100 disabled:bg-transparent disabled:text-gray-400"
  >
    <img
      class="mx-auto"
      ngSrc="/person_add.svg"
      alt=""
      height="40"
      width="40"
      priority
    />
    <span class="sr-only">add player</span>
  </button>

  <button
    (click)="game.removePlayer()"
    type="button"
    class="rounded-lg border border-transparent bg-transparent px-5 py-2.5 text-center text-sm font-medium text-gray-700 shadow-none transition-all hover:bg-gray-100 disabled:bg-transparent disabled:text-gray-400"
  >
    <img
      class="mx-auto"
      ngSrc="/person_remove.svg"
      alt=""
      height="40"
      width="40"
      priority
    />
    <span class="sr-only">remove player</span>
  </button>

  <button
    (click)="game.startGame()"
    type="button"
    class="col-span-2 rounded-lg border border-transparent bg-primary-400 px-5 py-2.5 text-center text-sm font-medium text-gray-700 shadow-none transition-all hover:bg-primary-200 disabled:bg-transparent disabled:text-gray-400"
  >
    <img
      class="mx-auto"
      ngSrc="/start.svg"
      alt=""
      height="40"
      width="40"
      priority
    />
    <span class="sr-only">start game</span>
  </button>
</div>
